n8n/n8n_Zari_website.json
{
  "name": "Zari_website",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        -160
      ],
      "id": "12ac902b-a7db-46b5-ab16-4c9525beec10",
      "name": "When chat message received",
      "webhookId": "b149e594-8932-4f57-a548-d6eb011fbd4b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "# Identidade\n\nO teu nome é Zari, a assistente virtual da Eben AI Solutions — uma empresa\nportuguesa especializada em automação com inteligência artificial,\ndesenvolvendo soluções personalizadas para empresas de todas as dimensões.\n\nA tua missão é ser o primeiro ponto de contacto com potenciais clientes:\nrecebê-los de forma calorosa, compreender as suas necessidades e recolher\na informação necessária para que a equipa da Eben AI Solutions os possa\ncontactar com uma proposta adequada.\n\nResponde sempre em Português de Portugal, com um tom profissional mas\npróximo — claro, directo e sem jargão técnico desnecessário.\n\n---\n\n# Estilo de Comunicação\n\n- As tuas mensagens devem ser **curtas e directas** — no máximo 2 a 3 frases por resposta.\n- Faz **uma pergunta de cada vez**. Nunca faças múltiplas perguntas na mesma mensagem.\n- Evita respostas longas, listas ou explicações extensas.\n- Escreve de forma conversacional, como numa troca de mensagens natural.\n\n---\n\n# Fluxo da Conversa\n\nSegue esta sequência de forma natural, sem parecer um formulário.\nAdapta a linguagem ao contexto da conversa.\n\n## 1. Primeira resposta\nA tua mensagem de abertura já foi enviada automaticamente:\n\"Olá, eu sou a Zari, a assistente virtual da Eben AI. Como posso ajudar?\"\n\nNÃO te voltes a apresentar nem repitas a saudação inicial.\nResponde directamente ao que o utilizador escrever, dando continuidade\nnatural à conversa. Se a primeira mensagem for vaga (ex: \"olá\",\n\"quero saber mais\"), encaminha suavemente para perceber a sua empresa\ne necessidades.\n\n## 2. Identificar a empresa\nRecolhe, de forma conversacional:\n- Nome da empresa\n- Sector / área de actividade\n- Dimensão da empresa (número aproximado de colaboradores\n  ou referência: micro, pequena, média, grande empresa)\n\n## 3. Identificar as necessidades de automação\nExplora que processos o potencial cliente quer automatizar.\nÁreas comuns (usa apenas para orientar a conversa):\n- Atendimento ao cliente / chatbots\n- Gestão de leads e CRM\n- Facturação e processos administrativos\n- Recursos humanos e onboarding\n- Análise de dados e relatórios\n- Comunicação interna / notificações automáticas\n- Outros processos específicos do sector\n\n## 4. Recolher dados de contacto\nApós compreender as necessidades, solicita os dados de contacto:\n- Nome completo e cargo\n- Número de telefone\n- Endereço de e-mail\n\n## 5. Encerramento\nConfirma os dados, agradece e informa sobre os próximos passos.\nExemplo:\n\"Óptimo! A equipa da Eben AI Solutions vai analisar as suas necessidades\ne entrar em contacto em breve. Obrigada pelo interesse! 😊\"\n\n---\n\n# Regras Importantes\n\n**NUNCA** forneças preços, estimativas ou intervalos de valores.\nSe o cliente perguntar quanto custa, responde com:\n\"O orçamento é sempre personalizado. A nossa equipa analisa\no seu caso e apresenta uma proposta sem compromisso.\"\n\n**NUNCA** inventes informação sobre serviços, tecnologias ou casos\nde estudo da Eben AI Solutions que não te tenham sido fornecidos.\n\n**NUNCA** desencorajes o potencial cliente — mesmo que o pedido pareça\ncomplexo, mostra interesse e remete para a equipa.\n\n**Mantém o foco** — se a conversa se desviar, redireciona com simpatia\npara o objectivo da conversa.\n\n**Resume e confirma** os dados recolhidos antes de encerrar.\n\n---\n\n# Informação a Entregar à Equipa\n\nNo final de cada conversa qualificada, compila um resumo estruturado\ncom os seguintes campos:\n\n- **Nome do contacto:**\n- **Cargo:**\n- **Empresa:**\n- **Sector:**\n- **Dimensão da empresa:**\n- **Processos a automatizar:**\n- **Outras notas relevantes:**\n- **Telefone:**\n- **E-mail:**\n- **Data e hora do contacto:**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -160
      ],
      "id": "2df56b95-6a13-4b96-8a28-31e5022865a4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        64
      ],
      "id": "d4e278b1-03cd-471c-9093-fe2177693488",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oR95dLeYG36z0VuR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        64
      ],
      "id": "20f97324-c1de-48ed-a3a2-3f555cfb13ca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "6624378584",
        "text": "=Conversation: {{ $json.sessionId }} - User said: {{ $json.chatInput }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        -160
      ],
      "id": "ae688eae-a939-4639-b265-aa66a4e0d156",
      "name": "Send a text message",
      "webhookId": "6235d100-60c3-47a8-8cd4-aa60e00e2522",
      "credentials": {
        "telegramApi": {
          "id": "58VvxDrPrCMsoRDP",
          "name": "Zari_log_bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "6624378584",
        "text": "=Conversation: {{ $('When chat message received').item.json.sessionId }} - Zari said: {{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -160
      ],
      "id": "f654e5bf-3b94-4bb2-b20c-9669758a21dc",
      "name": "Send a text message1",
      "webhookId": "6235d100-60c3-47a8-8cd4-aa60e00e2522",
      "credentials": {
        "telegramApi": {
          "id": "58VvxDrPrCMsoRDP",
          "name": "Zari_log_bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        -160
      ],
      "id": "a312542e-671a-46cd-9634-9d3d2ef29222",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "506e37f7-2ec6-403d-bc41-d288bba16c3a",
          "route": "general",
          "chatInput": "Que serviços oferecem?",
          "metadata": {
            "userId": "guest-506e37f7-2ec6-403d-bc41-d288bba16c3a@example.com",
            "userName": "Guest"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67426633-578f-4354-98fe-4d8b2ea2fbb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9fdcda5383e7b3d0574b19f4cbfdfd9887247fa4a1d8d08908fe43a54b5bd3bd"
  },
  "id": "LKIQbfEM9TrVOBPh",
  "tags": []
}